@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  background-color: #eef1f5;
  margin: 0;
  padding: 0;
  height: 1000px;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
